
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section class="post-sec v2 container">
        <div class="row">
            <div class="col-xs-12 col-md-9">
                <!-- post col of the page -->
                <div class="col-xs-12 col-sm-6 post-col v2">
                    <div class="block bg-lightGrey">
                        <div class="img-holder overlay">
                            <img src="images/img71.jpg" class="img-responsive" alt="image description">
                            <a href="blog-detail.html"></a>
                        </div>
                        <h3 class="heading7"><a href="blog-detail.html">F&amp;O cues: Nifty 11100 Put adds 4.6 lakh shares in Open Interest</a></h3>
                        <time class="time text-uppercase" datetime="2018-12-07">Thurday, 25th January 2018</time>
                        <a href="blog-detail.html" class="btn-secondary text-uppercase fwSemi-bold">continue reading</a>
                    </div>
                </div>
                <!-- post col of the page -->
                <div class="col-xs-12 col-sm-6 post-col v2">
                    <div class="block bg-lightGrey">
                        <div class="img-holder overlay">
                            <img src="images/img72.jpg" class="img-responsive" alt="image description">
                            <a href="blog-detail.html"></a>
                        </div>
                        <h3 class="heading7"><a href="blog-detail.html">Bharat Bijlee touched 52-week high on strong Q3 numbers</a></h3>
                        <time class="time text-uppercase" datetime="2018-12-07">Thurday, 25th January 2018</time>
                        <a href="blog-detail.html" class="btn-secondary text-uppercase fwSemi-bold">continue reading</a>
                    </div>
                </div>
                <!-- post col of the page -->
                <div class="col-xs-12 col-sm-6 blog-col post-col v2">
                    <div class="block bg-lightGrey">
                        <div class="img-holder overlay">
                            <img src="images/img73.jpg" class="img-responsive" alt="image description">
                            <a href="blog-detail.html"></a>
                        </div>
                        <h3 class="heading7"><a href="blog-detail.html">13th Annual Münchner Finance Forum Conference	</a></h3>
                        <time class="time text-uppercase" datetime="2018-12-07">Thurday, 25th January 2018</time>
                        <a href="blog-detail.html" class="btn-secondary text-uppercase fwSemi-bold">continue reading</a>
                    </div>
                </div>
                <!-- post col of the page -->
                <div class="col-xs-12 col-sm-6 blog-col post-col v2">
                    <div class="block bg-lightGrey">
                        <div class="img-holder overlay">
                            <img src="images/img74.jpg" class="img-responsive" alt="image description">
                            <a href="blog-detail.html"></a>
                        </div>
                        <h3 class="heading7"><a href="blog-detail.html">850 Attendees At The 7th DKF Congress For Financial Information</a></h3>
                        <time class="time text-uppercase" datetime="2018-12-07">Thurday, 25th January 2018</time>
                        <a href="blog-detail.html" class="btn-secondary text-uppercase fwSemi-bold">continue reading</a>
                    </div>
                </div>
                <!-- post col of the page -->
                <div class="col-xs-12 col-sm-6 blog-col post-col v2">
                    <div class="block bg-lightGrey">
                        <div class="img-holder overlay">
                            <img src="images/img75.jpg" class="img-responsive" alt="image description">
                            <a href="blog-detail.html"></a>
                        </div>
                        <h3 class="heading7"><a href="blog-detail.html">FinTech: Norton Rose Fulbright Presentation</a></h3>
                        <time class="time text-uppercase" datetime="2018-12-07">Thurday, 25th January 2018</time>
                        <a href="blog-detail.html" class="btn-secondary text-uppercase fwSemi-bold">continue reading</a>
                    </div>
                </div>
                <!-- post col of the page -->
                <div class="col-xs-12 col-sm-6 blog-col post-col v2">
                    <div class="block bg-lightGrey">
                        <div class="img-holder overlay">
                            <img src="images/img76.jpg" class="img-responsive" alt="image description">
                            <a href="blog-detail.html"></a>
                        </div>
                        <h3 class="heading7"><a href="blog-detail.html">Finanz Informatik Extends Contract And Orders Other Services</a></h3>
                        <time class="time text-uppercase" datetime="2018-12-07">Thurday, 25th January 2018</time>
                        <a href="blog-detail.html" class="btn-secondary text-uppercase fwSemi-bold">continue reading</a>
                    </div>
                </div>
                <!-- project holder of the page -->
                <div class="col-xs-12 pagination-holder">
                    <ul class="list-unstyled pagination-list">
                        <li><a class="text-center" href="#">&lt;</a></li>
                        <li class="active"><a class="text-center" href="#">1</a></li>
                        <li><a class="text-center" href="#">2</a></li>
                        <li><a class="text-center" href="#">3</a></li>
                        <li><a class="text-center" href="#">4</a></li>
                        <li><a class="text-center" href="#">&gt;</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <!-- sidebar of the page -->
                <aside id="sidebar">
                    <!-- widget of the page -->
                    <section class="widget">
                        <!-- search form of the page -->
                        <form class="search-form">
                            <fieldset>
                                <input class="form-control" type="text" placeholder="Search Here">
                                <button type="submit" class="fas fa-search"></button>
                            </fieldset>
                        </form>
                    </section>
                    <!-- widget of the page -->
                    <section class="widget">
                        <h3 class="heading2 fwLight">Categories</h3>
                        <!-- category list of the page -->
                        <ul class="list-unstyled category-list">
                            <li>
                                <a href="blog-detail.html">
                                    <span class="icon fas fa-chevron-right"></span>
                                    Business Report
                                </a>
                            </li>
                            <li>
                                <a href="blog-detail.html">
                                    <span class="icon fas fa-chevron-right"></span>
                                    Consultation
                                </a>
                            </li>
                            <li>
                                <a href="blog-detail.html">
                                    <span class="icon fas fa-chevron-right"></span>
                                    Financial Advise
                                </a>
                            </li>
                            <li>
                                <a href="blog-detail.html">
                                    <span class="icon fas fa-chevron-right"></span>
                                    Financial Forecast
                                </a>
                            </li>
                            <li>
                                <a href="blog-detail.html">
                                    <span class="icon fas fa-chevron-right"></span>
                                    Forex Trading
                                </a>
                            </li>
                            <li>
                                <a href="blog-detail.html">
                                    <span class="icon fas fa-chevron-right"></span>
                                    Uncategorized
                                </a>
                            </li>
                        </ul>
                    </section>
                    <!-- widget of the page -->
                    <section class="widget">
                        <h3 class="heading2 fwLight">Recent News</h3>
                        <!-- post list of the page -->
                        <ul class="list-unstyled post-list">
                            <li>
                                <a href="blog-detail.html">Weekly meeting in companies Think Room</a>
                                <time class="time text-uppercase" datetime="2018-12-07">October 7, 2018</time>
                            </li>
                            <li class="bdr-top">
                                <a href="blog-detail.html">Six important methods to keep servers safe</a>
                                <time class="time text-uppercase" datetime="2018-12-07">October 7, 2018</time>
                            </li>
                            <li class="bdr-top">
                                <a href="blog-detail.html">New management method which rocks</a>
                                <time class="time text-uppercase" datetime="2018-12-07">October 7, 2018</time>
                            </li>
                            <li class="bdr-top">
                                <a href="blog-detail.html">Seven ways to get ready for a business contract</a>
                                <time class="time text-uppercase" datetime="2018-12-07">October 7, 2018</time>
                            </li>
                        </ul>
                    </section>
                    <!-- widget of the page -->
                    <section class="widget">
                        <h3 class="heading2 fwLight">Archives</h3>
                        <!-- archives of the page -->
                        <ul class="list-unstyled text-capitalize archives-list">
                            <li><a href="#">july 2018</a></li>
                            <li><a href="#">March 2018</a></li>
                        </ul>
                    </section>
                    <!-- widget of the page -->
                    <section class="widget">
                        <h3 class="heading2 fw-Light text-capitalize">popular tags</h3>
                        <!-- tag list of the page -->
                        <ul class="list-unstyled tag-list text-uppercase">
                            <li><a href="#" class="tag">Log in</a></li>
                            <li><a href="#" class="tag">server</a></li>
                            <li><a href="#" class="tag">css</a></li>
                            <li><a href="#" class="tag">wordpress</a></li>
                            <li><a href="#" class="tag">html</a></li>
                        </ul>
                    </section>
                </aside>
            </div>
        </div>
    </section>

