@using _07._13_2019_mvc_k30.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    @{User selecetedUser = ViewBag.userInfo; }
    <div class="row">
        <div class="col-md-6">
            <img style="width:50%;border-radius:50%;height:280PX;object-fit:cover" src="@selecetedUser.Image" class="img-thumbnail " />
        </div>
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>UserName:</dt>
                <dd>@selecetedUser.Username</dd>
                <dt>Email:</dt>
                <dd>@selecetedUser.Email</dd>
            </dl>
        </div>
    </div>
    
</div>


